div{
    width: 100px;
    height: 250px;
    border: 5px solid brown;
    margin-top: 20px;
    background-color: antiquewhite;
}
#div1{
    width: 50px;
    height: 50px;
    border: 2px solid black;
border-radius: 50%;
background-color: red;

}
#div2{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: green;
}
#div3{
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: blue;
}